.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3 {
    text-align: center;
}

div#buttonContainer {
    text-align: center;
    padding-bottom: 20px;
}

.grid {
    width: 213px;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: black;
    border: solid 0.5em #888;
    justify-self: end;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetrimino {
    background-color: blue;
}

.mini-grid {
    margin-left: 20px;
    width: 80px;
    height: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: black;
    border: solid 0.4em #888;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}