.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetrimino {
    background-color: blue;
}

.mini-grid {
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: orange; 
}

.mini-grid div {
    width: 20px;
    height: 20px;
}